.dsf-item {
  border: 1px solid var(--dsc-color-listing-border);
  border-radius: 5px;
  padding: 10px;
}

.dsf-item h3 {
  color: var(--dsc-color-font-secondary);
  font-size: 16px;
}

.dsf-item p {
  color: var(--dsc-color-font-tertiary);
  font-size: 12px;
}

