@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --dsc-color-bg-primary: #C2C2C2;
  --dsc-color-bg-secondary: #FFFFFF;
  --dsc-color-bg-tertiary: #55BC04;

  --dsc-color-filter-border: #C2C2C2;
  --dsc-color-listing-border: #55BC04;

  --dsc-color-hover-border: #55BC04;

  --dsc-color-btn-primary: #55BC04;

  --dsc-color-font-primary: #FFFFFF;
  --dsc-color-font-secondary: #55BC04;
  --dsc-color-font-tertiary: #6F6F6F;
  --dsc-color-font-placeholder: #C2C2C2;

  --dsc-color-error: #f33;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  background-color: var(--dsc-color-bg-primary);
}

main {
  padding: 0 20px;
}

/*-----------------------------------------------------------------*/
/* generic styles */

.dsf-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.dsf-mb10 {
  margin-bottom: 10px;
}

.dsf-mb20 {
  margin-bottom: 20px;
}

.dsf-mt10 {
  margin-top: 10px;
}

.dsf-mt20 {
  margin-top: 20px;
}

/*-----------------------------------------------------------------*/
/* Responsive 576 */

@media (min-width: 576px) {
  .dsf-section-title {
    text-align: left;
    font-size: 24px;
  }
}

/*-----------------------------------------------------------------*/
/* card styles */

.dsf-card {
  border: 1px solid var(--dsc-color-card-border);
  border-radius: 4px;
  background-color: var(--dsc-color-card-bg);
}
